<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scrumlogs</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar" %>
  <div class="container">
    <%= render "layouts/flash", flash: flash %>

    <!-- content -->
    <div class="row"
      <div class="col-md-12">
         <%= yield %>
      </div>
    </div>
    <!-- /content -->
    <% cache 'footer' do %>
      <%= render "layouts/footer" %>
    <% end %>
  </div>
  
</body>
</html>
